#include <physical_layouts.dtsi>

/ {
    scylla_physical_layout: scylla_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Scylla 4x6+5";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   90       0     0     0>
            , <&key_physical_attrs 100 100  100   90       0     0     0>
            , <&key_physical_attrs 100 100  200   30       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   20       0     0     0>
            , <&key_physical_attrs 100 100  500   20       0     0     0>
            , <&key_physical_attrs 100 100 1100   20       0     0     0>
            , <&key_physical_attrs 100 100 1200   20       0     0     0>
            , <&key_physical_attrs 100 100 1300    0       0     0     0>
            , <&key_physical_attrs 100 100 1400   30       0     0     0>
            , <&key_physical_attrs 100 100 1500   90       0     0     0>
            , <&key_physical_attrs 100 100 1600   90       0     0     0>
            , <&key_physical_attrs 100 100    0  190       0     0     0>
            , <&key_physical_attrs 100 100  100  190       0     0     0>
            , <&key_physical_attrs 100 100  200  130       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  120       0     0     0>
            , <&key_physical_attrs 100 100  500  120       0     0     0>
            , <&key_physical_attrs 100 100 1100  120       0     0     0>
            , <&key_physical_attrs 100 100 1200  120       0     0     0>
            , <&key_physical_attrs 100 100 1300  100       0     0     0>
            , <&key_physical_attrs 100 100 1400  130       0     0     0>
            , <&key_physical_attrs 100 100 1500  190       0     0     0>
            , <&key_physical_attrs 100 100 1600  190       0     0     0>
            , <&key_physical_attrs 100 100    0  290       0     0     0>
            , <&key_physical_attrs 100 100  100  290       0     0     0>
            , <&key_physical_attrs 100 100  200  230       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  220       0     0     0>
            , <&key_physical_attrs 100 100  500  220       0     0     0>
            , <&key_physical_attrs 100 100 1100  220       0     0     0>
            , <&key_physical_attrs 100 100 1200  220       0     0     0>
            , <&key_physical_attrs 100 100 1300  200       0     0     0>
            , <&key_physical_attrs 100 100 1400  230       0     0     0>
            , <&key_physical_attrs 100 100 1500  290       0     0     0>
            , <&key_physical_attrs 100 100 1600  290       0     0     0>
            , <&key_physical_attrs 100 100    0  390       0     0     0>
            , <&key_physical_attrs 100 100  100  390       0     0     0>
            , <&key_physical_attrs 100 100  200  330       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  320       0     0     0>
            , <&key_physical_attrs 100 100  500  320       0     0     0>
            , <&key_physical_attrs 100 100 1100  320       0     0     0>
            , <&key_physical_attrs 100 100 1200  320       0     0     0>
            , <&key_physical_attrs 100 100 1300  300       0     0     0>
            , <&key_physical_attrs 100 100 1400  330       0     0     0>
            , <&key_physical_attrs 100 100 1500  390       0     0     0>
            , <&key_physical_attrs 100 100 1600  390       0     0     0>
            , <&key_physical_attrs 100 100  500  430       0     0     0>
            , <&key_physical_attrs 100 100  500  430    1000   550  1120>
            , <&key_physical_attrs 100 100  500  430    2000   550  1120>
            , <&key_physical_attrs 100 100 1100  430 (-2000)  1150  1120>
            , <&key_physical_attrs 100 100 1100  430 (-1000)  1150  1120>
            , <&key_physical_attrs 100 100 1100  430       0     0     0>
            , <&key_physical_attrs 100 100  500  530    1000   550  1120>
            , <&key_physical_attrs 100 100  515  530    2000   550  1120>
            , <&key_physical_attrs 100 100 1085  530 (-2000)  1150  1120>
            , <&key_physical_attrs 100 100 1100  530 (-1000)  1150  1120>
            ;
    };
};
